/.dart_tool
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/AppDir
/appimage-builder-cache
/build
/default.profraw
/scripts.yaml
.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins